body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: burlywood;
    color: black;
    text-align: center;
    padding: 40px 0;
}

header h1 {
    font-size: 36px;
}

header p {
    font-size: 20px;
}

nav ul {
    list-style: none;
    text-align: center;
    margin-top: 20px;
}

nav li {
    display: inline;
    margin-right: 20px;
    font-size: 18px;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project {
    margin-bottom: 20px;
}

.project img {
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

h3 {
    font-size: 20px;
    margin: 10px 0;
}
hd {
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px 0;
}
p {
    font-size: 16px;
    line-height: 1.6;
}

p1 {
    font-size: 16px;
    line-height: 1.6;
}
p2 {
    font-size: 16px;
    line-height: 1.6;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #007BFF;
}
